/* Biolocator by 5AM Solutions - www.5amsolutions.com */
/* CSS for basic template UI - client.css separately and overrides */

@import url('client.css');

/* Secondary Nav */

#secnav
{ width:210px; float:left; margin-left:-8px; }
#content>#secnav
{ margin-left:-15px; }
#secnav .box
{ background:url("../images/bg_grayfade_lt.gif") repeat-x top; padding:0; margin-right:10px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:1px solid #dcdcdc; margin-bottom:20px;  }
#secnav .box H3
{ color:#333; font-size:110%; font-weight:bold; padding:5px 10px 9px 10px; margin:0; border-bottom:1px solid #dcdcdc }
#secnav UL, #secnav UL LI
{ padding:0 !important; margin:0 !important; list-style-type:none !important; }
#secnav UL LI A
{ font-size:90%; padding:3px 10px; border-bottom:1px solid #eee; display:block; height:1% }
#secnav UL LI>A
{ font-size:100%; }
#secnav UL LI.bottom A
{ border:0; margin-bottom:5px }
#secnav UL LI A:hover
{ background:#f0f7f9; text-decoration:none; color:#333 }
#secnav UL LI A:active
{ background:#fffadc url("../images/bg_instructions.gif") repeat-x;  }
#secnav UL LI.selected A
{ background:#fffadc url("../images/bg_instructions.gif") repeat-x; color:#333 }


/* Content */

.clear
{ clear:both;  }
.clear BR
{ line-height:1px }
.clearleft
{ clear:left; }
.clearright
{ clear:right; }
.line
{ clear:both; margin:10px 0; border-top:1px solid #dcdcdc }
.aligncenter
{ text-align:center }
.alignright
{ text-align:right }
.alignleft
{ text-align:left !important }
.normal
{ font-weight:normal }
.small
{ font-size:11px !important; line-height:1.3em }
.smaller
{ font-size:60% !important;}
.tiny
{ font-size:9px !important;}
.big
{ font-size:140% }
.huge
{ font-size:160% }
.pad5
{ padding-top:5px }
.pad10
{ padding:10px }
.padtop10
{ padding-top:10px }
.instructions
{ padding:10px 20px; background:#fffadc url("../images/bg_instructions.gif") repeat-x }
#content UL
{ margin-top:10px; margin-bottom:20px; padding-left:20px; font-size:88%; max-width:700px }
#content UL LI
{ list-style-type:disc; padding-bottom:8px  }
#content UL.nobullet LI
{ list-style-type:none }
.checked
{ background:url("../images/checkbox_green.gif") no-repeat 0 3px; padding-left:14px; font-size:11px }
.x_icon
{ background:url("../images/ico_x.gif") no-repeat 0 3px; padding-left:14px; font-size:11px }
.ext
{ background:url("../images/ico_ext.gif") no-repeat right 1px; padding:0 14px 0 0; display:inline-block; }


/* Forms */

.formtop, .noline, .noline_top
{ margin-top:0; height:1%; }
.noline, .noline_top
{ margin-top:0; padding-bottom:15px; border:0; background:0; }
.noline_top
{ margin-top:0 }
.noline
{ padding-top:8px }
.reqd
{ color:#c00 }
.formcol
{ float:left; width:21.5em; min-height:5em}
.formcol_double
{ float:left; width:43em; min-height:5em}
.formcol_xthin
{ float:left; width:8.5em; min-height:5em }
.formcol_thin
{ float:left; width:16.5em; min-height:5em }
.formcol_wide
{ float:left; width:30.5em; min-height:5em }
#content .note UL LI
{ font-size:100%; padding-bottom:0  }
.note
{ font-style:italic; padding-top:3px; color:#5a5a5a; line-height:1.3em }
.btn_bar
{  margin:25px 0 0 0; padding:18px 0 0 0; border-top:1px solid #dcdcdc; }
.box .btn_bar
{ border:0; margin-top:10px; padding-top:0 }
.btn_bar A
{ font-weight:bold; margin-right:13px;}
.btn_bar INPUT
{ margin-right:10px; }
.fielderror
{ display:block; color:#c00; background:url(../images/ico_error.gif) no-repeat 0 2px; padding:3px 1px 3px 20px; height:16px; min-height:16px; height:auto;  }
LABEL.inline
{ display:inline; font-weight:normal; color:#4d4d4d; }
INPUT.autocomplete
{ height:17px; padding:0; border:1px solid #747474; border-right:0; vertical-align:middle; }
.ui-autocomplete
{ max-height: 200px; overflow-y: scroll; overflow-x: hidden; }
.autocomplete_empty_option
{ font-style: italic; }
.autocomplete_30_width
{width:30em}
.autocomplete_40_width
{width:40em}
.ui-datepicker-trigger
{ margin-left: 10px; padding-bottom: 2px; vertical-align: middle;}
.revision_comments
{ padding:0 0 20px 0; margin:0 0 10px 0; border-bottom:1px solid #dcdcdc; }


/* Confirmation, Error, or Comment Messages at the top of Pages */

.topconfirm
{ background:#fffadc url("../images/bg_instructions.gif") repeat-x; padding:6px 10px; margin-bottom:15px; border:1px solid #408f54; color:#408f54; font-size:110%; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2); }
.toperror
{ background:#fffadc url("../images/bg_instructions.gif") repeat-x; padding:6px 10px; margin-bottom:15px; border:1px solid #c00; color:#c00; font-size:110%; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2); }
.topimportant
{ background:#fffadc url("../images/bg_instructions.gif") repeat-x; padding:10px; border:1px solid #960; color:#333; font-size:110%; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2); }
.topimportant P, .toperror P
{ font-weight:bold; background:url("../images/ico_important.gif") no-repeat; padding:5px 0 5px 29px }
.topconfirm P
{ font-weight:bold; background:url("../images/ico_success.gif") no-repeat; padding:3px 0 3px 29px }
.topcomment
{ background:#fffadc url("../images/bg_instructions.gif") repeat-x; padding:15px; border:1px solid #fe9; color:#333; font-size:110%; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2); }
.topcomment H2
{ background:transparent url("../images/ico_important.gif") no-repeat; padding:5px 0 5px 29px;margin:0; border:0; }
.topcomment H2.noicon
{ background:0; padding:5px 0 }
.topcomment .approved, TD.approved, TR.odd TD.approved
{ font-weight:bold; background-image:url("../images/ico_success.gif"); background-repeat:no-repeat; padding:3px 0 3px 29px; margin-left:10px }
.topcomment .denied, TD.denied, TR.odd TD.denied
{ font-weight:bold; background-image:url("../images/ico_denied.gif"); background-repeat:no-repeat; padding:3px 0 3px 29px; margin-left:10px }
.topcomment P.comment
{ margin:5px 10px; padding:12px; font-style:italic; border:1px dotted #fe9; background:#ffe; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2); }


/* Roundbox Gray Forms, eg. Search */

A.toggle
{ background:url(../images/ico_toggle.gif) no-repeat; padding-left:17px; color:#727272 }
H2 A.toggle
{ background:url(../images/ico_toggle.gif) no-repeat 0 3px; padding-left:17px; color:#333 }
.roundbox_gray_wrapper .formtop, .roundbox_gray_wrapper H2
{ color:#333; border:0; background:0; margin-top:0; padding:20px 0 10px 0 }
.roundbox_gray H2
{ margin-left:0; }
.roundbox_gray_wrapper H2.formtop
{ padding-top:5px; }
.roundbox_gray_wrapper LABEL
{ color:#333 }
.roundbox_gray_wrapper .btn_bar
{  margin:15px 0 0 0; padding:8px 0 0 0; border-top:1px solid #999; }
.roundbox_gray_wrapper H2.padbottom20
{ padding:30px 0 20px 0 }
.box
{ background:url("../images/bg_grayfade_lt.gif") repeat-x top; padding:5px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:1px solid #dcdcdc; margin-bottom:20px; -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.3); -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3); }
.box_wrapper
{ width:720px; float:left }
.roundbox_gray_wrapper
{ width:946px; background:url("../images/bg_roundbox_gray_946_bottom.gif") no-repeat bottom; padding:0 0 4px 0; margin:0 0 12px 0; }
.roundbox_gray
{ width:922px; background:#dadada url("../images/bg_roundbox_gray_946_top.gif") no-repeat top; padding:14px 12px 9px 12px; }


/* Icons and Special Lists */

.file
{ display:block; background:url("../images/ico_doc.gif") no-repeat 0 2px; padding:4px 0 4px 20px; max-width:25em }
.doc_check
{ background:url("../images/ico_doc_check.gif") no-repeat 0 2px; padding:4px 0 4px 20px; }
.pdf
{ background:url("../images/ico_pdf.gif") no-repeat 0 4px; padding:4px 0 4px 20px; }
#content #details UL, #content UL.checklist
{ padding-left:0 }
#content #details UL.checklist LI, #content UL.checklist LI
{ list-style-type:none; background:url("../images/checkbox_green.gif") no-repeat 0 3px; padding-left:14px; font-size:11px }
#content .topimportant UL
{ margin-top:10px; margin-left:29px; }
#content OL
{ margin-top:10px; margin-bottom:20px; }
#content OL, #content OL.decimal, #content OL.decimal LI
{ list-style-type:decimal; max-width:670px; }
#content OL.lower-alpha, #content OL.lower-alpha LI
{ list-style-type:lower-alpha; max-width:670px; }

/* Tab Lists and Messages*/

UL.radio_tabs, UL.radio_tabs LI
{ margin:-10px 0 0 0; padding:0; list-style-type:none; }
UL.radio_tabs LI
{ display:inline; float:left; font-size: 100% !important}
UL.radio_tabs LI LABEL A
{ display:inline; }
UL.radio_tabs LI A
{ display:block;}
UL.radio_tabs LI A.active
{ display:block;}
.clear
{ clear:both }
P.important
{ background:#ffe url("../images/ico_important.gif") no-repeat 10px 6px; padding:10px 40px; border:1px solid #ccc; margin:10px 0 10px 10px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2); }
DIV.important
{ background:#ffe url("../images/ico_important.gif") no-repeat 10px 6px; padding:10px 40px 0 40px; border:1px solid #ccc; margin:0 0 10px 0; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2); }
.hilite
{ background:#ffc; font-weight:bold; }

/* Cart and Request Process */

TABLE#request TD
{ text-align:center; vertical-align:middle }
TABLE#request .carttitle
{ text-align:left }
TABLE#request .alignright
{ text-align:right }
TABLE .graybar
{ background:#dfdfdf url("../images/bg_grayfade.gif") repeat-x 0 1px; border-bottom:1px solid #ccc; font-size:120% }
.carttitle A
{ font-weight:bold; font-size:120%; display:block; padding-bottom:5px }
TABLE#request TD.action A, TABLE#request TD.action INPUT
{ margin-right:0 !important}
#sessioncart
{ margin-top:3px; width:250px; float:right }
#sessioncart TABLE
{ border:1px solid #dcdcdc !important }
#requestform
{ width:915px; border:0; margin-top:15px; background:url("../images/bg_bluefade.gif") repeat-x; padding:0 15px 15px 15px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.3); -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);}
#requestform P
{ padding-right:25px !important; }


/* Data Table Filters */

.float_left
{ width:35%; float:left }
.float_right
{ width:65%; float:right; text-align:right }


/* Summary Page */

.listbox33
{ margin:10px 0; float:left; width:32.5%; padding-right:10px; }
.listbox33 .box
{ background:url("../images/bg_grayfade_lt.gif") repeat-x top; padding:5px; margin-right:10px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:1px solid #dcdcdc; margin-bottom:20px; -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.3); -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);  }
.listbox33 H3, .listbox33 H4
{ color:#333; font-size:120%; font-weight:bold; padding:5px 10px 9px 10px; margin:0px -5px; border-bottom:1px solid #dcdcdc }
.listbox33 H4
{ background:#eee; font-size:100%; padding:5px 10px;  }
.listbox33 UL, .listbox33 UL LI
{ padding:0 !important; margin:0 !important; list-style-type:none !important; }
.listbox33 UL LI A
{ padding:3px 5px; border-bottom:1px solid #eee; display:block; height:1%; }
.listbox33 UL LI.bottom A
{ border:0; margin-bottom:10px }
.listbox33 UL LI A:hover
{ background:#eff5f9; text-decoration:none; color:#333 }
.listbox33 UL LI A:active
{ background:#fffadc url("../images/bg_instructions.gif") repeat-x;  }
.last
{ padding:0; }


/* Login Page */

.loginfloat
{ width:38%; float:left; margin-top:10px}
.loginfloat H2
{ color:#333; font-size:120%; font-weight:bold; padding:5px 10px 9px 10px; margin:-10px -15px; border-top:0; border-bottom:1px solid #dcdcdc; background:0; margin-bottom:20px; }
.loginfloat .box
{ width:300px; background:url("../images/bg_grayfade_lt.gif") repeat-x top; padding:15px; margin-right:10px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:1px solid #dcdcdc; margin-bottom:15px;  }
.loginfloat #focus_right_wrapper
{ width:220px; float:right; background:url("../images/bg_home_focus_right_bottom_ie6.gif") no-repeat bottom; padding-bottom:15px; }
.loginfloat #focus>#focus_right_wrapper
{ background:url("../images/bg_home_focus_right_bottom.png") no-repeat bottom; }
.loginfloat #focus_right
{ width:186px; background:url("../images/bg_home_focus_right_ie6.gif") no-repeat top; padding:15px 16px 0 18px; padding-bottom:0; height:211px; }
.loginfloat #focus_right_wrapper>#focus_right
{ background:url("../images/bg_home_focus_right.png") no-repeat top; min-height:211px; height:auto !important; }
.loginfloat #focus_right H2
{ font-size:100%; color:#2c2c2c; border:0; margin:0; padding:3px 0 5px 0; background:0 }
.loginfloat .btn
{ margin:10px 0; }


/* Right Side */

#rightcol
{ width:210px; margin-top:-15px; padding-top:7px; float:right }
.rightbox_wrapper
{ width:230px; background:url("../images/box_230_bottom.png") no-repeat bottom; padding-bottom:14px; margin-bottom:22px; }
.rightbox
{ width:202px; background:url("../images/box_230_top.png") no-repeat top; padding:14px; padding-bottom:0; }
#rightcol H3
{ font-size:110%; margin-top:0 }
#rightcol P
{ font-size:100%; color:#808080 }
#rightcol .roundpanel_210
{ width:210px; height:211px; text-align:center; background:url("../images/bg_roundpanel_210.gif") no-repeat; margin-top:10px; }
.roundpanel_210_inner
{ text-align:left; line-height:1.6em; padding:10px }
#rightcol .roundpanel_210 H3
{ font-size:14px; height:30px; color:#3a3a3a; padding-top:7px }
#rightcol .roundpanel_210 H4
{ font-size:14px; height:30px; font-weight:normal; color:#3a3a3a; padding:10px 0 3px 0}
#rightcol .roundpanel_210 H5
{ font-size:11px; height:20px; font-weight:normal; color:#979797; background:url("../images/border_bevel.gif") repeat-x top; padding:12px 0 3px 0; margin:20px 10px 0 9px; }
#simplesearchtable TD.value LABEL
{ font-size:88%; color:#333333 }
#simplesearchtable TD.value LABEL.ui-state-hover
{ font-size:88%; color:#333333 }


/* Buttons */

INPUT.disabled, INPUT[disabled], INPUT.btn[disabled], INPUT.btn[disabled=disabled], INPUT.tiny[disabled], INPUT.tiny[disabled=disabled], INPUT[disabled=disabled], INPUT.disabled[disabled=disabled], INPUT.disabled:hover, INPUT.btn:hover[disabled=disabled], INPUT.tiny:hover[type=submit][disabled=disabled], INPUT.tiny:hover[disabled=disabled], INPUT.tiny[disabled]:hover, INPUT:hover[disabled=disabled], INPUT.disabled:hover[disabled=disabled], A.disabled, A.disabled:hover
{ font-weight:normal; color:#b2b2b2; background-position:0 0; border:0; background:0; background-color:#e0e0e0; background-image:none; -moz-box-shadow:none; -webkit-box-shadow:none; text-shadow:none; text-shadow:0; cursor:default; }
A#btn_home_search_collection
{ background:url("../images/btn_general_population_request.png") no-repeat 0 0; }
A#btn_home_search_advanced
{ background:url("../images/btn_sample_search.png") no-repeat 0 0 }
A#btn_home_search_collection:hover, A#btn_home_search_advanced:hover
{ background-position:0 -54px }
A.btn_fw_action_col
{ width:7em !important; text-align:center; display:block !important; margin:0 auto 5px auto !important; font-weight:bold; font-size:10px !important; background:#6c6c6c url("../images/bg_btn_gray.gif") repeat-x 0 -2px; color:#fff;  line-height:20px; height:21px; border:1px solid #565656; font-weight:bold; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); text-shadow: 0 -1px 1px rgba(0,0,0,0.25); border-bottom: 1px solid rgba(0,0,0,0.25); cursor:pointer;   }
A.btn_fw_action_col:hover
{ background:#a9d0e9 url("../images/bg_btn_gray.gif") repeat-x 0 -28px; color:#fff; text-decoration:none }
A.btn_mta
{ display:block; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2); padding:8px; margin:0 0 20px 0; text-align:center; background:#dfdfdf url('../images/bg_grayfade.gif') repeat-x; width:276px; font-weight:bold; border:2px solid #2e72b9; }
A.btn_mta:hover
{ border:2px solid #333; text-decoration:none; color:#333; }


/* MTA */

#mta_consort_admin .uploadbox
{ width:310px; padding:0 10px 10px 10px; float:left; }
#mta_consort_admin .downloadbox
{ width:560px; padding:0 10px 10px 10px; float:right; margin-right:10px; }
#mta_consort_admin TABLE.data TH
{ padding:7px }
#mta_consort_admin TABLE.data TD
{ vertical-align:middle; padding:5px 7px 0 7px !important; text-align:left; width:33%; }
#mta_consort_admin TABLE.data TH.action, #mta_consort_admin TABLE.data TD.action
{ text-align:center; }
#mta_consort_admin TABLE.data TD.outdated A.btn_fw_action_col
{ color:#dcdcdc !important; }

#mta_admin .uploadbox
{ height:20em; width:310px; padding:0 10px 10px 10px; float:left; }
#mta_admin .downloadbox
{ height:20em; width:560px; padding:0 10px 10px 10px; float:right }
#mta_admin .current
{ vertical-align:middle; width:25%; font-size:110%; border-bottom:1px solid #999; }
#mta_admin .outdated
{ vertical-align:middle; color:#999; border-bottom:1px solid #ccc; }
#mta_admin TABLE.data
{ width:533px; }
#mta_admin TABLE.data TH, #mta_admin TABLE.data TD
{ padding:7px !important; text-align:left; width:20% }
#mta_admin TABLE.data TH.action, #mta_admin TABLE.data TD.action
{ text-align:center; }
#mta_admin TABLE.data TD.outdated A.btn_fw_action_col
{ color:#dcdcdc !important; }
#mta_admin .scrolling_downloads
{ width:550px !important; width:534px; height:12.5em; overflow-y:auto; border:1px solid #ccc; }
#mta_admin .scrolling_downloads TR
{ background:#dcdcdc; }
#mta_admin .scrolling_downloads TR.odd
{ background:#eee }

#mta_info .current_version_num
{ width:200px; float:right; margin-top:-2.7em; font-style:italic }
#mta_info .mta_listbox
{ width:565px; padding:0 10px 10px 10px; float:left; }
#mta_info .downloadbox
{ width:315px; padding:0 10px 10px 10px; float:right; margin-right:10px; }
#mta_info .subbox
{ padding:0 10px 10px 10px; }
#mta_info TABLE.data TD
{ vertical-align:middle; }
#mta_info TABLE.data TD.outdated, #mta_info TABLE.data TD.none
{ color:#999; padding:7px !important; }
#mta_info TABLE.data TD.outdated LABEL, #mta_info TABLE.data TD.none LABEL
{ color:#999; }
#mta_info TABLE.data TD.pending
{ padding:7px !important; }
#mta_info TABLE.data TD
{ padding:1px 7px !important; text-align:left; }
#mta_info TABLE.data .inst_col
{ width:427px; }
#mta_info TABLE.data .vers_col
{ width:40px; }
#mta_info TABLE.data .stat_col
{ width:90px; white-space:nowrap; }
.active_icon
{ vertical-align:middle; margin-bottom:.30em; }
.box_541
{ width:541px; background:#dcdcdc; border:0; padding:8px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; text-align:right; margin-bottom:10px;  }


#reports .period_select
{  }
#reports .period_select .date
{ float:left; width:13em; margin-top:-5px; }
#reports .period_select .date INPUT
{ width:8em; }
#reports .thru
{ float:left; width:2em; }
#reports .submitbtn
{ float:left; width:10em; padding-left:1em; }
#reports .col
{ padding:5px; margin-right:10px; width:430px; float:left; }
#reports .box
{ padding:12px;}
#reports H2
{ padding:15px; background:none; border:0; }
#reports H3
{ padding:0; margin-top:2px }
#reports TABLE.report
{ width:400px; }
#reports TABLE.report .label
{ width:300px }
#reports TABLE.report .value
{ width:100px }

/* Table Layout for Search and Details Pages */

#table-format #filters
{ padding-top:10px;}
#table-format #filters .box
{ background-color:#fff; margin-bottom:10px; }
#table-format .toggle_link
{ padding:0 0 10px 0 }
#table-format TABLE.tabular-layout
{ background:#fff; }
#table-format TABLE.tabular-layout TR:hover
{ background:transparent; }
#table-format TABLE.tabular-layout TR.odd
{ background:#f5f5f5 }
#table-format TABLE.tabular-layout TH
{ font-size:110%; font-weight:bold; padding-left:3px; }
#table-format TABLE.tabular-layout TD
{ vertical-align:top; padding:5px; line-height:1.4em;  }
#table-format TABLE.tabular-layout TD.label
{ width:22%; padding-left:10px; padding-top:5px; padding-bottom:5px; font-style: normal; }
#table-format TABLE.tabular-layout TD.label LABEL
{ margin:0; padding:0; }
#table-format TABLE.tabular-layout TD.value INPUT, #table-format TABLE.tabular-layout TD.value SELECT
{ margin:0; padding:0; font-size:100%; }
#table-format TABLE.inner_table
{ border-collapse:collapse; }
#table-format TABLE.inner_table TD
{ padding:0; padding-right:20px; height:auto; line-height:1.4em; }

#simplesearchtable TR:hover
{ background:transparent; }
#simplesearchtable TD
{ vertical-align:top; padding:5px; line-height:1.4em;  }
#simplesearchtable TD.label
{ width:22%; padding-left:10px; padding-top:5px; padding-bottom:5px; }
#simplesearchtable TD.label LABEL
{ margin:0; padding:0; }
#simplesearchtable TD.value SELECT
{ margin:0; padding:0; font-size:100%; width: 18em; }
#simplesearchtable TABLE.inner_table
{ border-collapse:collapse; }
#simplesearchtable TABLE.inner_table TD
{ padding:0; padding-right:20px; height:auto; line-height:1.4em; }

/* Search and Other Tabs */

.instructions_2
{ font-style:italic; }
#content #tabs #table-format
{ margin-top:-5px; border: none;}
#content #tabs UL.tabbytabs
{ font-size:105%; font-weight:bold; color:#333; border:0; padding:4px 0 0 5px; margin:0; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; height:26px; list-style-type:none; max-width:100%; }
#content #tabs UL.tabbytabs LI
{ float:left; font-size:12px; font-weight:bold; line-height:1.5em; list-style-type:none; border: none; background: none; }
#content #tabs UL.tabbytabs LI A
{ width:auto; padding:4px 20px; border-bottom:1px solid #fff; margin-left:1px; display:block; text-align:center; background:#ebebeb; color:#6d6d6d; -webkit-border-top-left-radius:4px; -webkit-border-top-right-radius:4px; -moz-border-radius-topleft:4px; -moz-border-radius-topright:4px; outline:none; }
#content #tabs UL.tabbytabs LI.ui-state-hover A
{ text-decoration:none; background:#eee; color:#000; }
#content #tabs UL.tabbytabs LI.ui-state-active A
{ display:block; background:#dadada; border-bottom:1px solid #dadada; color:#333; }

/* Specimen Detail Pages */

#bio-details
{ width:695px; }
#bio-details #table-format .data TD.label
{ width:26% }
#bio-details H3
{ padding:20px 0 10px 0; margin:20px 0 0 0; border-top:1px solid #dcdcdc; }
.box_inner H2
{ margin-top:20px; margin-left:0px; padding:20px 0 12px 0px; font-size:135%; font-weight:bold; border-top:1px solid #dcdcdc; line-height:1.2em; color:#333; height:1%; background:none; }
#details_panel_top_wrapper
{ background:url("../images/details_panel_bottom_curve.png") no-repeat bottom; width:695px; padding-bottom:8px; margin-bottom:10px; }
#details_panel_top
{ background:url("../images/details_panel_top_expanded.png") no-repeat top; width:695px; }
.details_panel_col
{ float:left; width:142px; min-height:42px; padding:5px 16px 5px 15px; }
#details_panel_top LABEL
{ font-size:11px; color:#999; }
#details_panel_top .big_value
{ font-size:14px; font-weight:bold; color:#333;}
#bio-edit
{ width:100%; }
#bio-edit #table-format .data TD.label
{ width:26% }
#bio-edit H3
{ padding:20px 0 10px 0; margin:20px 0 0 0; border-top:1px solid #dcdcdc; }
.noborder
{ border:0; }
.showmore
{ margin-top:-5px; padding-bottom:0; }
.showmore A
{ color:#999; text-decoration:underline; }
.showmore A:hover
{ color:#06c; }
.bitsmaller
{ font-size:14px }
#rightcol .roundpanel_210 H4#huge
{ font-size:160%; font-weight:bold; padding-bottom:10px; }
#rightcol H4
{ color:#0076c2; }

/* Specimen Results Panel */
.specimen-results-header
{ width:955px; height:30px; }
.dataPanel
{ width:946px; overflow-x:auto; position:relative; margin-top:20px; }
thead.dataheader
{ width:100%; }
tbody.databody
{ overflow-y:auto; }
.exportlinks
{ height:30px; }

#table-format TABLE.tabular-layout TD.value INPUT.search_checkbox_autocomplete_composite
{ margin: 0px 3px 2px -1px; border-style:none; vertical-align:middle; }


/* New FAQ and Related Informational Pages */

#maincontent P
{ font-size:100%; }
#maincontent #faq_list2
{ width:90%; font-size:100%; }
#faq_list2 LI.faq_question A
{ font-size:100%;  }
#maincontent #faq_list2 .faq_answer
{ font-weight:normal; background:#eee; margin:10px 0 20px 0; padding:12px;  -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:1px solid #dcdcdc; height:1%; }
#maincontent #faq_list2 .faq_answer P
{ width:90%; font-size:100%;}
#maincontent #faq_list2 .faq_answer P A
{ font-size:100%; }
#maincontent #faq_list2 .faq_answer UL, #maincontent #faq_list2 .faq_answer OL
{ width:90%; margin-bottom:15px; font-size:100%; }
#maincontent #faq_list2 .faq_answer LI
{ padding-left:5px; padding-bottom:3px; font-size:100%; }
#maincontent #faq_list2 .faq_answer OL
{ margin-top:0; padding-top:0; }
#maincontent #faq_list2 .faq_answer OL LI
{ list-style-type:decimal; margin-left:5px; }
.hilite
{ background:yellow;}

/* Attachments Widget */

.attachments
{ width:535px; }
.attachments INPUT, .attachments .fielderror
{ margin-left:10px; }
.large_doc
{ padding:15px 0px; background:#ffe; border:1px solid #ccc; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
A.doc_download
{ padding:14px 8px 14px 39px; background: url("../images/ico_doc_large.gif") no-repeat 3px 6px;  }
A.delete
{ width:4em; white-space:nowrap; padding-left:16px; float:right; display:block; background:url("../images/ico_remove.gif") no-repeat 0 1px; color:#999; }
A.delete:hover
{ background-position:0 -23px; color:#333; text-decoration:none; }

/* Researcher Support Pages */

H4.green_bar
{ background: none repeat scroll 0 0 #9EA615; border-radius: 5px 5px 5px 5px; color: #FFFFFF; font-weight: bold; padding: 6px 10px; vertical-align: middle; }
.list-url
{ color:#999; font-size:11px; display:block; margin-top:-3px; margin-bottom:3px; }
#maincontent H2.up10
{ margin-top:-10px; }
.col250
{ width:250px; float:left; margin-left:10px; padding-top:15px; padding-bottom:15px; line-height:1.3em; }
.col50percent
{ width:48%; float:left; padding-bottom:15px; line-height:1.3em; }
#maincontent .select_container UL
{ margin-left: 0px; width: auto !important; }
#maincontent .box H4, #maincontent .note H4
{ margin-left: 0; width: auto; }
#maincontent .note H4
{ font-size: 17px; font-style: normal;}
#maincontent .note DIV
{ font-size: 14px; line-height: 1.3em; margin-bottom: 3px; }
#maincontent .note DIV IMG
{ padding-bottom: 2px; }